/* ========================= */
h1 {
    text-align: right;
    direction:rtl;
  }
  
  h3 {
    text-align: right;
    direction:rtl;
  }
  
  li {
    text-align: right;
    direction:rtl;
  }
  
  h2 {
    text-align: right;
    direction:rtl;
  }
  
  p {
    text-align: right;
    direction:rtl;
  }
  
  
  /* ========================= */